content-panel {
  .avatar-div {
    padding-right: 16px;
    float: left;
  }

  .panel-div {
    padding-left: 60px;
  }

  .action-bar {
    text-align: right;
  }

  .user-div {
    margin-bottom: 10px;

    .time {
      float: right;
      margin-top: 2px;
    }
  }

  .editor {
    
  }

  .sub-replies {
    border: $lightgray solid thin;
    padding: 8px;
    background-color: $backgroundgray;
  }
}
