.main {
  margin-top: 120px;
  height: auto;
}

.sidenav-container {
  width: 150px !important;
  height: 100%;
  padding-right: 5px;
  box-shadow: 1px 0 $backgroundgray;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-content {
  padding-left: 20px;
}
