.main {
  padding-top: 10px;
  min-height: calc(100vh - 52px - 52px - 168px);
}

.sidenav-container {
  width: 180px !important;
  padding-right: 5px;
  box-shadow: 1px 0 $backgroundgray;
}

.main-content {
  padding-left: 20px;
  min-height: 100%;
}

// ******* editor *******
quill-editor {
  max-width: 1110px;
  background-color: $offwhite;
}

.quill-editor {
  max-height: 400px;
  overflow: auto !important;
}

// ******* content panel ******
content-panel {
  .content figure {
    margin: 0 20px 0 0;
  }

  .sub-item-icon {
    padding-right: 10px;
  }
}

.user-scores {
  padding-left: 10px;
}

// ******** footer ****
footer {
  height: 168px;
  padding: 2rem 1rem !important;
}
