.top-navbar {
  box-shadow: 0 2px $backgroundgray;
}

.sub-top {
  height: 38px !important;
  max-height: 38px;
}

.user-avatar {
  display: inline-block;
  padding-right: 5px
}

.user-btn {
  padding: 0.5rem 1rem;
}
