.top-navbar {
  box-shadow: 0 2px $backgroundgray;
}

.sub-top {
  height: 30px !important;
  max-height: 30px;
}

.home-img {
  height: 40px;
  padding: 8px 0 0 15px;
}

.account-button {
  display: flex;

  ngx-avatar {
    padding-right: 5px
  }
}
