.top-navbar {
  box-shadow: 0 2px $backgroundgray;
  background: rgba($color: $darkgray, $alpha: 0.8) !important;
}

.sub-top {
  height: 52px !important;
  max-height: 52px;
  background-color: $backgroundgray;
}

.home-img {
  height: 40px;
  padding: 8px 0 0 15px;
}

.account-button {
  display: flex;

  ngx-avatar {
    padding-right: 5px
  }
}
