.full-width {
  width: 100%;
}

.width-100 {
  width: 100px;
}

.width-150 {
  width: 150px;
}

.form-control .quill-editor{
  overflow: visible;
} 

.form-group { 
  border: 1px solid #ccc; 
  position: relative; 
} 

.item-wrapper {
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 16px;
}

.underline {
  border-bottom: 1px solid #dcdcdc;
}

.panelTitle {
  font-size: 18px;
  clear: both;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  font-weight: normal;
}

.float-right {
  float: right;
}

.mat-expansion-panel {
  box-shadow: 0 0 0 0 !important;
  background-color: transparent;
  margin-bottom: 20px !important;
}

.mat-expansion-panel-body {
  padding: 0 0 0 0 !important;
}

.progress-bar-container {
  height: 2px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 11;
}

.spinner {
  text-align: -webkit-center;
  width: 100%;
}

.icon-normal {
  font-size: 18px;
  color: $lightgray;

  &:hover {
    color: $orange;
  }
}

.icon-highlight {
  font-size: 18px;
  color: $orange;
}

.icon-large {
  font-size: 24px !important;
}

.highlight {
  color: $accentblue;
  font: bold;
}

.list-item {  
  .content {
    
  }
  .bar {
    float: right;
    font-size: 11pt;
  }
  .bar>ngx-avatar {
    float: left;
    padding-right: 5px;
  }
}