body {
  font-family: $main-font !important;
}

app-root {
  display: block;
}

mat-sidenav-container {
  min-height: calc(100vh - 57px - 52px - 168px - 10px);
}

mat-sidenav-content {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  cursor: pointer;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.width-100 {
  width: 100px;
}

.width-150 {
  width: 150px;
}

.min-width-500 {
  min-width: 500px;
}

.padding-left-5 {
  padding-left: 5px;
}

.form-control .quill-editor{
  overflow: visible;
} 

.form-group { 
  border: 1px solid #ccc; 
  position: relative; 
} 

.item-wrapper {
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 16px;
}

.underline {
  border-bottom: 1px solid #dcdcdc;
}

.panelTitle {
  font-size: 18px;
  clear: both;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  font-weight: normal;
}

.float-right {
  float: right;
}

.mat-expansion-panel {
  box-shadow: 0 0 0 0 !important;
  background-color: transparent;
}

.mat-expansion-panel.clear-spacing>div>div {
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
}

.progress-bar-container {
  height: 2px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.spinner {
  text-align: -webkit-center;
  width: 100%;
}

.icon-normal {
  font-size: 18px;
  color: $lightgray;
}

.icon-highlight {
  font-size: 18px;
  color: $orange;
}

.icon-large {
  font-size: 24px !important;
}

.highlight {
  color: $orange;
  font: bold;
}

.center-dialog {
  min-width: 800px;
}

.footer {
  padding: 1.5rem 1rem !important;
}