<section class="section">
  <form name="form" #form="ngForm">
    <div class="field">
      <div class="control">
        <img [src]="user.avatarUrl" />
        <mat-checkbox name="hideAvatar"
          [(ngModel)]="hideAvatar" [disabled]="isReadonly">
          隐藏头像
        </mat-checkbox>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <mat-form-field class="form-control full-width">
          <input matInput #inputDisplayName name="displayName" [(ngModel)]="displayName" 
            placeholder="显示名字" required [disabled]="isReadonly" maxlength="20" minlength="3">
          <mat-error *ngIf="(inputDisplayName.value?.length || 0) < 3">请输入3-20个字符</mat-error>
          <mat-hint align="end">{{inputDisplayName.value?.length || 0}} / 20</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <mat-form-field class="form-control full-width">
          <input matInput #inputEmail name="email" [(ngModel)]="email" placeholder="Email"
            type="email" [disabled]="isReadonly">
        </mat-form-field>
      </div>
    </div>
    <div class="field" *ngIf="isReadonly">
      <p class="control">
        <a class="button is-warning" (click)="onEdit()">
          修改
        </a>
      </p>
    </div>
    <button-group *ngIf="!isReadonly" (submit)="updateUser(form.value)" (cancel)="onCancel()" [isValid]="form.valid"></button-group>
  </form>
</section>