<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Email</label>
  </div>
  <div class="field-body">{{user.email}}</div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">显示名字</label>
  </div>
  <div class="field-body">{{user.displayName}}</div>
</div>
<div class="field is-grouped">
  <p class="control">
    <a class="button is-warning" mat-button (click)="onEdit()">
      修改
    </a>
  </p>
</div>