<form name="form" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
  <div>
    <md-form-field class="full-width form-control question-title">
      <input mdInput required
        #inputTitle 
        name="title"
        maxlength="200" 
        [(ngModel)]="title"
        placeholder="输入标题（用大括号来标记比对项）">
      <span mdSuffix>有什么不同？</span>
      <md-hint align="start">例：{{ '{' }}你{{ '}' }}和{{ '{' }}我{{ '}' }}之间有什么不同？</md-hint>
      <md-hint align="end">{{inputTitle.length}} / 80</md-hint>
    </md-form-field>
  </div>
  <br/>
  <div>
    <div class="form-group">
      <ez-quill-editor
        name="content"
        [(ngModel)]="content"></ez-quill-editor>
    </div>
  </div>

  <div>
    <button md-raised-button color="accent" type="submit" 
      [disabled]="!form.valid">提交</button>
    <button md-button (click)='onCancel'>取消</button>
  </div>
</form>