<article class="media">
  <div class="media-content">
    <div class="content">
      <span class="icon">
        <i class="fa fa-question-circle-o"></i>
      </span>
      <a class="subtitle has-text-weight-semibold"
        [routerLink]="['/questions', item.id]"
        [innerHTML]="item.title | title"></a>
    </div>

    <nav class="level has-text-weight-light">
      <div class="level-left">
        <small class="level-item">{{item.category}}</small>
      </div>
      <div class="level-right">
        <small class="level-item">
          <a [routerLink]="['/users', item.user.id]">{{item.user.displayName}}</a>
            提问于{{item.createTime | amTimeAgo}}
        </small>        
      </div>
    </nav>
  </div>
</article>