<div *ngIf="question">
  <div>
    <detail-panel
      [data]="question"
      (update)="onUpdateQuestionContent($event)"></detail-panel>
  </div>
</div>
<br />
<div class="level">
  <div class="level-left">
    <strong>回复</strong>
  </div>
  <div class="level-right">
    <p class="control">
      <a class="button is-warning width-100"
        (click)="expansionPanel.toggle()">我来回答</a>
    </p>
  </div>
</div>
<md-expansion-panel #expansionPanel>
  <article class="media">
    <div class="media-content">
      <div class="field">
        <p class="control">
          <ez-quill-editor
            [(ngModel)]="myAnswerContent"></ez-quill-editor>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <a class="button is-link width-100"
            (click)="submitAnswer()">提交</a>
        </p>
      </div>
    </div>
  </article>
</md-expansion-panel>
<hr />
<div *ngIf="isEmpty">
  <no-content></no-content>
</div>
<md-list>
  <div class="item-wrapper"
    *ngFor="let answer of answers">
    <content-panel 
      [data]="answer"
      (onUpdate)="onUpdateAnswer($event)"
      (onReply)="onReply($event)"></content-panel>
  </div>
</md-list>
<div *ngIf="isAnswersLoading" class="spinner">
  <md-spinner (color)="accent"></md-spinner>
</div>