<div *ngIf="question">
  <div>
    <detail-panel [data]="question" 
      (update)="onUpdateQuestion($event)"
      (modeToggled)="modeToggled($event)"></detail-panel>
  </div>
</div>
<br />
<div class="underline">
  <div class="level is-mobile">
    <div class="level-left">
    </div>
    <div class="level-right">
      <p class="control">
        <a class="button is-success width-100" (click)="expansionPanel.toggle()">我来回答</a>
      </p>
    </div>
  </div>
  <mat-expansion-panel #expansionPanel>
    <article class="media">
      <div class="media-content">
        <div class="field">
          <p class="control">
            <ez-quill-editor [(ngModel)]="myAnswerContent"></ez-quill-editor>
          </p>
        </div>
        <button-group (submit)="submitAnswer()" (cancel)="expansionPanel.toggle()" [isValid]="true"></button-group>
      </div>
    </article>
  </mat-expansion-panel>
</div>
<div *ngIf="isEmpty">
  <no-content></no-content>
</div>
<mat-list>
  <div class="item-wrapper" *ngFor="let answer of answers">
    <content-panel [data]="answer" 
      (update)="onUpdateAnswer($event)" 
      (reply)="onReply($event)"
      (modeToggled)="modeToggled($event)"></content-panel>
  </div>
</mat-list>
<div *ngIf="isAnswersLoading" class="spinner">
  <mat-spinner (color)="accent"></mat-spinner>
</div>