<div *ngIf="question">
  <h2 [innerHTML]="question.title | title"></h2>
  <div>
    <content-panel
      [data]="question"
      [replyEnabled]="false"
      (onUpdate)="onUpdateQuestionContent($event)"></content-panel>
  </div>
</div>

<div class="panelTitle underline">
  <button class="float-right" md-button color="primary"
   (click)="expansionPanel.toggle()">我有话说</button>
  <span>回复</span>
</div>
<md-expansion-panel #expansionPanel>
  <div>
    <ez-quill-editor
      [(ngModel)]="myAnswerContent"></ez-quill-editor>
    <button md-raised-button color="accent"
      (click)="submitAnswer()">提交</button>
  </div>
</md-expansion-panel>

<md-list>
  <div class="item-wrapper"
    *ngFor="let answer of answers | select: 'question_answers'">
    <content-panel 
      [data]="answer"
      (onUpdate)="onUpdateAnswer($event)"
      (onReply)="onReply($event)"></content-panel>
  </div>
</md-list>
<div *ngIf="isAnswersLoading" class="spinner">
  <md-spinner (color)="accent"></md-spinner>
</div>