<article class="media">
  <figure class="media-left">
    <ngx-avatar [name]="data.user.displayName" size="40"></ngx-avatar>
  </figure>
  <div class="media-content">
    <div class="content" (mouseover)="showStatusBar=true" (mouseout)="showStatusBar=false">
      <div class="level is-mobile">
        <div class="level-left">
          <a [routerLink]="['/users', data.user.id]">{{data.user.displayName}}</a>
          <user-scores-bar [user]="data.user"></user-scores-bar>
        </div>
        <div class="level-right">
          <small>发表于{{data.createTime | amTimeAgo}}</small>
        </div>
      </div>
      <div *ngIf="isReadonly === true" [innerHTML]="newContent">
      </div>
      <ez-quill-editor [(ngModel)]="newContent" *ngIf="isReadonly === false">
      </ez-quill-editor>
      <div class="action-bar" *ngIf="isReadonly === false">
        <button-group (submit)="onSubmit()" (cancel)="onCancel()" isValid="true"></button-group>
      </div>

      <nav class="level is-mobile" *ngIf="isReadonly === true">
        <div class="level-left"></div>
        <div class="level-right" [style.visibility]="alwaysShowActionbar || showStatusBar ? 'visible': 'hidden'">
          <a matTooltip="编辑" class="level-item" (click)="onEdit()" *ngIf="currentUser != null && currentUser.id == data.user.id">
            <span class="icon is-small">
              <i class="fa fa-edit"></i>
            </span>
          </a>
          <a matTooltip="回复" class="level-item" *ngIf="replyEnabled" (click)="toggleEditPanel()">
            <span class="icon is-small">
              <i class="fa fa-reply"></i>
            </span>
          </a>
          <a matTooltip="点赞" class="level-item" (click)="onLike()">
            <span class="icon is-small">
              <i class="far fa-heart"></i>
            </span>
            <small class="padding-left-5">{{liked == null ? 0: liked.likeCount}}</small>
          </a>
        </div>
      </nav>
    </div>

    <div *ngIf="data.subReplies != null && data.subReplies.length > 0" class="box">
      <div *ngFor="let sub of data.subReplies" class="level">
        <div class="level-left">
          <span class="icon is-small sub-item-icon">
            <i class="far fa-hand-point-right"></i>
          </span>
          <a [routerLink]="['/users', sub.user.id]">{{sub.user.displayName}}</a>：
          <span class="content">
            {{sub.content}}
          </span>
        </div>
      </div>
    </div>

    <div *ngIf="showEditPanel">
      <mat-form-field class="full-width">
        <textarea matInput #replyTextarea minlength="5" maxlength="200" [(ngModel)]="myReplyContent">
        </textarea>
        <mat-hint align="end">{{myReplyContent?.length || 0}} / 200</mat-hint>
      </mat-form-field>
      <button-group (submit)="onReplySubmit()" (cancel)="toggleEditPanel()" [isValid]="true"></button-group>
    </div>
  </div>
</article>