<article class="media">
  <figure class="media-left">
    <ngx-avatar [name]="data.user.displayName" size="40"></ngx-avatar>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <a [routerLink]="['/users', data.user.id]">{{data.user.displayName}}</a>
        <small>发表于{{data.createTime | amTimeAgo}}</small>
      </p>
      <detail-view *ngIf="isReadonly" [data]="data" [isCurrentUser]="isMe" (edit)="onEdit()"></detail-view>
      <detail-editor *ngIf="!isReadonly" [data]="data" (submit)="onSubmit($event)" (cancel)="onCancel()"></detail-editor>
    </div>
  </div>
</article>