<li>
  <a class="menu-label"
    (click)="selectionChange(categoryGroup.id); isExpanded=!isExpanded"
    [class.is-active]="selectedCategoryId != null && categoryGroup.id == selectedCategoryId">
    <div class="level">
      <span class="level-left">
        {{categoryGroup.name}}
      </span>
      <span class="icon level-right">
        <i [class]="isExpanded ? 'fa fa-angle-up': 'fa fa-angle-down'"></i>
      </span>
    </div>
  </a>
</li>
<md-expansion-panel [expanded]="isExpanded">
  <ul class="menu-list">
    <li *ngFor="let category of categoryGroup.categories">
      <a (click)="selectionChange(category.id)"
        [class.is-active]="selectedCategoryId != null && category.id == selectedCategoryId">
        {{category.name}}
      </a>
    </li>
  </ul>
</md-expansion-panel>