<div class="media">
  <div class="media-content">
    <div>{{data.content}}</div>
    <br />
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <p class="control">
            <a class="button is-link" (click)="onOkClick()">
              确认
            </a>
          </p>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <p class="control">
            <a class="button is-light" (click)="onNoClick()" tabindex="-1">
              取消
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>