<div class="avatar-div">
  <ngx-avatar [name]="data.user.displayName" size="40"></ngx-avatar>
</div>
<div class="panel-div">
  <div class="user-div">
    <div class="time">{{data.createTime | date:"yyyy/MM/dd HH:mm"}}</div>
    <a [routerLink]="['/user', data.user.id]">{{data.user.displayName}}</a>
  </div>
  <ez-quill-editor class="editor"
    [(ngModel)]="data.content"
    [readOnly]="isReadOnly">
  </ez-quill-editor>

  <div *ngIf="!isReadOnly">
    <button md-icon-button (click)="onSubmit()">
      <md-icon>check</md-icon>
    </button>
    <button md-icon-button (click)="onCancel()">
      <md-icon>close</md-icon>
    </button>
  </div>
  <div *ngIf="isReadOnly"
    (mouseover)="showStatusBar=true"
    (mouseout)="showStatusBar=false">
    <div [style.visibility]="showStatusBar ? 'visible': 'hidden'" >
      <button md-icon-button>
        <md-icon>thumb_up</md-icon>
      </button>
      <button md-icon-button (click)="onEdit()">
        <md-icon>edit</md-icon>
      </button>
  </div>
</div>