<div class="panel">
  <p class="panel-block share-img-block">
    <a (click)="onWechatClick()">
      <span class="icon is-small">
        <i class="fab fa-weixin"></i>
      </span>
    </a>
  </p>
  <p class="panel-block share-img-block">
    <a>
      <span class="icon is-small">
        <i class="fab fa-weibo"></i>
      </span>
    </a>
  </p>
  <p class="panel-block share-img-block">
    <a (click)="onClose()">
      <span class="icon is-small">
        <i class="fas fa-ban"></i>
      </span>
    </a>
  </p>
</div>