<div *ngIf="isFetching" class="progress-bar-container">
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</div>

<app-top-bar></app-top-bar>
<app-scrollable-top-bar (toggleSidenav)="sidenav.toggle()"></app-scrollable-top-bar>
<div class="container main full-height">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="opened">
      <category-panel></category-panel>
    </mat-sidenav>
    <section class="sidenav-content">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-container>
</div>

<footer class="footer">
  <app-footer></app-footer>
</footer>