<div *ngIf="isFetching" class="progress-bar-container">
  <md-progress-bar mode="indeterminate" color="warn"></md-progress-bar>
</div>

<app-top-bar></app-top-bar>
<app-scrollable-top-bar></app-scrollable-top-bar>
<div class="container main full-height">
  <div class="tile is-ancestor full-height">
    <div class="tile is-parent full-height">
      <div class="sidenav-container tile is-2 is-child">
        <category-panel></category-panel>
      </div>
      <div class="main-content tile is-child">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <app-footer></app-footer>
</footer>
