<div *ngIf="article">
  <div>
    <quill-content-panel
      [data]="article"></quill-content-panel>
  </div>
</div>
<br />
<div class="level">
  <div class="level-left">
    <strong>回复</strong>
  </div>
  <div class="level-right">
    <p class="control">
      <a class="button is-warning width-100"
        (click)="expansionPanel.toggle()">我有话说</a>
    </p>
  </div>
</div>
<hr />
<md-expansion-panel #expansionPanel>
  <article class="media">
    <div class="media-content">
      <div class="field">
        <p class="control">
          <textarea class="textarea" placeholder="说点什么……"
            [(ngModel)]="myCommentContent"></textarea>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <a class="button is-link width-100"
            (click)="submitComment()">提交</a>
        </p>
      </div>
    </div>
  </article>
</md-expansion-panel>
<div *ngIf="isEmpty">
  <no-content></no-content>
</div>
<md-list>
  <div class="item-wrapper"
    *ngFor="let comment of comments | select: 'article_comments'">
    <content-panel 
      [data]="comment"
      (onUpdate)="onUpdate($event)"></content-panel>
  </div>
</md-list>
<div *ngIf="isCommentsLoading" class="spinner">
  <md-spinner (color)="accent"></md-spinner>
</div>