<form name="form" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
  <div class="field">
    <div class="control">
      <md-form-field class="full-width form-control">
        <input mdInput required
          #inputTitle 
          name="title"
          maxlength="100" 
          [(ngModel)]="title"
          placeholder="输入标题（用大括号来标记比对项）">
        <md-hint align="start">例：{{ '{' }}你{{ '}' }}和{{ '{' }}我{{ '}' }}之间有什么不同？</md-hint>
        <md-hint align="end">{{inputTitle.length}} / 100</md-hint>
      </md-form-field>
    </div>
  </div>
  <br />
  <div class="field">
    <div class="control">
      <md-category-dropdown></md-category-dropdown>
    </div>
  </div>
  <br />
  <div class="field">
    <div class="control">
      <tags-editor></tags-editor>
    </div>
  </div>
  <br />
  <div class="field">
    <div class="form-group control">
      <ez-quill-editor
        name="content"
        [(ngModel)]="content"></ez-quill-editor>
    </div>
  </div>
  
  <div class="field is-grouped">
    <p class="control">
      <input class="button is-link width-100"
        [disabled]="!form.valid" type="submit"
        value="提交"/>
    </p>
    <p class="control">
      <a class="button is-light width-100"
        (click)="onCancel()">取消</a>
    </p>
  </div>
</form>