<div *ngIf="currentUser != null">
  <button mat-button [matMenuTriggerFor]="menu">
    <div class="account-button">
      <ngx-avatar [name]="currentUser.displayName" size="30"></ngx-avatar>
      {{ currentUser.displayName }}
    </div>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)='onAccountClicked()'>账户信息</button>
    <button mat-menu-item (click)='onSignoutClicked()'>登出</button>
  </mat-menu>
</div>
<div *ngIf='currentUser == null'>
  <button mat-button (click)='onSignClicked()'>登录</button>
</div>
