<div class="container">
  <div class="columns content has-text-centered">
    <div class="column is-two-thirds content">
      <div>
        这是一个致力于知识分享的网站。如果您精通于开发，并对此项目有兴趣，欢迎访问以下Github链接。
      </div>
      <div>
        <a href="https://github.com/VincentSCW/Differences.WebClient">网站前端</a>
        <a href="https://github.com/VincentSCW/Differences">网站后端</a>。
      </div>
      <div>
        您也可以发送邮件到
        <a href="mailto:edentidus@foxmail.com">我的邮箱</a>提出您的建议和意见。
      </div>
    </div>
    <div class="column">

    </div>
  </div>
</div>