<md-toolbar color="primary" class="app-toolbar main-toolbar">
    <button class="hamburger" md-button 
      (click)="sideNavToggle()" title="Menu">
      <md-icon [ngClass]="{'sidenav-open': !isSideBySide}">
        menu
      </md-icon>
    </button>
    <a class="nav-link home" href="/">
      <img alt="主页" title="主页" src="../../assets/logo-nav@2x.png">
    </a>
    <app-top-menu *ngIf="isSideBySide" [nodes]="topMenuNodes">
    </app-top-menu>
    <app-search-box class="search-container" #searchBox (onSearch)="doSearch($event)" (onFocus)="doSearch($event)">
    </app-search-box>
    <app-account></app-account>
</md-toolbar>