<nav class="navbar is-fixed-top is-dark top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="nav-link" href="/">
        <img class="home-img" alt="主页" title="主页" src="../../assets/logo-nav@2x.png">
      </a>
    </div>
    <div class="navbar-start">
      <a *ngFor="let node of topMenuNodes"
        class="navbar-item" [routerLink]="node.url" [title]="node.title">{{ node.title }}
      </a>
    </div>
    
    <div class="navbar-end">
      <div class="navbar-item">
        <app-search-box
          #searchBox (onSearch)="doSearch($event)">
        </app-search-box>
      </div>
      <app-account class="navbar-item"></app-account>
    </div>
  </div>
</nav>