<article class="media">
  <figure class="media-left">
    <ngx-avatar [name]="data.user.displayName" size="40"></ngx-avatar>
  </figure>
  <div class="media-content">
    <div class="content"
      (mouseover)="showStatusBar=true"
      (mouseout)="showStatusBar=false">
      <div class="level">
        <div class="level-left">
          <a [routerLink]="['/users', data.user.id]">{{data.user.displayName}}</a>
        </div>
        <div class="level-right">{{data.createTime | amTimeAgo}}</div>
      </div>
      <div *ngIf="isReadOnly == true"
        [innerHTML]="newContent">
      </div>
      <ez-quill-editor
        [(ngModel)]="newContent"
        *ngIf="isReadOnly == false">
      </ez-quill-editor>
      <div class="action-bar" *ngIf="!isReadOnly">
        <button md-icon-button (click)="onSubmit()">
          <md-icon class="icon-highlight">check</md-icon>
        </button>
        <button md-icon-button (click)="onCancel()">
          <md-icon class="icon-normal">close</md-icon>
        </button>
      </div>

      <nav class="level" *ngIf="isReadOnly">
        <div class="level-left"></div>
        <div class="level-right"
          [style.visibility]="alwaysShowActionbar || showStatusBar ? 'visible': 'hidden'" >
          <a mdTooltip="编辑" class="level-item" (click)="onEdit()"
            *ngIf="currentUser != null && currentUser.id == data.user.id">
            <span class="icon is-small">
              <i class="fa fa-edit"></i>
            </span>
          </a>
          <a mdTooltip="回复" class="level-item" *ngIf="replyEnabled" (click)="toggleEditPanel()">
            <span class="icon is-small">
              <i class="fa fa-reply"></i>
            </span>
          </a>
          <!-- <a class="level-item">
            <span class="icon is-small">
              <i class="fa fa-heart"></i>
            </span>
          </a> -->
        </div>
      </nav>
    </div>

    <div *ngIf="data.subReplies != null && data.subReplies.length > 0">
      <div *ngFor="let sub of data.subReplies">
        <content-panel [data]="sub"
          [alwaysShowActionbar]="false"></content-panel>
      </div>
    </div>

    <div *ngIf="showEditPanel">
      <textarea class="textarea"
        [(ngModel)]="myReplyContent">
      </textarea>
      <div class="action-bar">
        <button md-icon-button (click)="onReplySubmit()">
          <md-icon class="icon-highlight">check</md-icon>
        </button>
        <button md-icon-button (click)="toggleEditPanel()">
          <md-icon class="icon-normal">close</md-icon>
        </button>
      </div>
    </div>
  </div>
</article>