<form name="form" #form="ngForm">
  <input hidden name="id" [(ngModel)]="id">
  <div class="field">
    <div class="control">
      <md-form-field class="full-width form-control">
        <input mdInput required #inputTitle name="title" maxlength="100" [(ngModel)]="title" placeholder="标题（用大括号标记比对项）">
        <md-hint align="start">例：{{ '{' }}你{{ '}' }}和{{ '{' }}我{{ '}' }}之间有什么不同？</md-hint>
        <md-hint align="end">{{inputTitle.value?.length || 0}} / 100</md-hint>
      </md-form-field>
    </div>
  </div>
  <br />
  <div class="field">
    <div class="control">
      <md-category-dropdown name="categoryId" [(ngModel)]="categoryId"></md-category-dropdown>
    </div>
  </div>
  <br />
  <div class="field">
    <div class="form-group control">
      <ez-quill-editor name="content" [(ngModel)]="content"></ez-quill-editor>
    </div>
  </div>
  <button-group (submit)="onSubmit(form.value)" (cancel)="onCancel()" [isValid]="form.valid"></button-group>
</form>