<md-form-field class="full-width">
  <md-chip-list #chipList>
    <md-chip *ngFor="let tag of tags" [selectable]="selectable"
      [removable]="removable" (remove)="remove(tag)">
      {{tag.name}}
      <md-icon mdChipRemove *ngIf="removable">cancel</md-icon>
    </md-chip>
    <input placeholder="标签" mdInput
      [mdChipInputFor]="chipList"
      [mdChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [mdChipInputAddOnBlur]="addOnBlur"
      (mdChipInputTokenEnd)="add($event)" />
  </md-chip-list>
</md-form-field>