<div class="btn-group" dropdown *ngIf="currentUser != null">
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light user-btn" mdbRippleRadius>
    {{ currentUser.displayName }}
  </button>

  <div class="dropdown-menu dropdown-primary">
    <a class="dropdown-item" (click)='onSignoutClicked()'>登出</a>
  </div>
</div>
<div *ngIf='currentUser == null'>
  <button type="button" class="btn btn-primary waves-light user-btn" (click)='onSignClicked()'>
    登录 / 注册
  </button>
</div>